html{
    scroll-behavior: smooth;
  }

body{
    padding: 0;
    margin: 0;
}
main{
    padding: 20px;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 9px;
    background-image: url(https://dummyimage.com/50x50/000/fff.png&text=Icon);
}

.navigasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    height: 4rem;
}

.link-container {
    display: flex;
    list-style-type: none;
    margin-right: 4rem;
    
}

.border-pinggir-a{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.border-pinggir-b {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-link {
    width: 1rem;
    height: 10px;
    padding: 5px 10px 5px;
    color: black;
    border: 1px solid;
    text-decoration: none;
}

.nav-link:hover{
    background-color: #fff9f9;
}

#home-section > header, #home-section > article {
    margin-left: 5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-container {
    
    
    border-bottom: 1px solid;
    
}

.slideImg {
width: 100%;
height: 578px;

}

.slideNav {
    width: 100%;
    height: 578px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile-section {
    border-top: 1px solid;
    padding-bottom: 3rem;
}

.profile-icon {
    width: 90px;
    height: 90px;
    border: 1px solid;
    border-radius: 50%;
}

.profile-1{
    background-image: url(https://dummyimage.com/90x90/000/fff.png&text=Profil+1);
}
.profile-2{
    background-image: url(https://dummyimage.com/90x90/000/fff.png&text=Profil+2);
}
.profile-3{
    background-image: url(https://dummyimage.com/90x90/000/fff.png&text=Profil+3);
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-container p {
    text-align: center;
}

.profile-container {
    flex: 1;
    text-align: -webkit-center;
}

section {
    margin : 3px;
}

.message-section {
    border-top: 1px solid;
    margin-bottom: 7rem;
}

.message-container {
    display: flex;
    flex-direction: row;
    height: 15rem;
    justify-content: space-between;
}

.form-content {
    flex:1;
    align-content: center;
    padding-left: 6rem;
}

.form-content td {
    padding: 7px;
}

.formValue-content{
    flex: 1;
    border: 1px solid;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.value-header {
    font-weight: bold;
}

.input-field {
    width: 18rem;
}


.footer {
    border-top: 1px solid;
}

.footer p {
    float: right;
    padding: 1rem 2rem 1rem;
}

#deleteBtn {
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: rgb(228, 0, 0);
    border: none;
}

#deleteBtn-container {
    margin-top: 2rem;
}

.formBtn {
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

#emptyProfile {
    display: flex;
    flex: 2;
}

@media only screen and (max-width: 600px){
    main {
        padding: 0;
    }

    .navigasi {
        flex-direction: column;
        display: flex;
        height: 20rem;
        align-items: center;
        justify-content: center;
        border: none;
        width: 100%;
    }
    .link-container{
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding-top: 1rem;
        margin-top: 1rem;
        margin-right: 7rem;
    }
    .nav-link{

        margin: 0;
    }


    .border-pinggir-a, .border-pinggir-b{
        border-radius: 0;
    }

    .logo-icon{
        margin: 0;
        
    }

    #emptyProfile {
        display: none;
        flex: 0;
    }

    .profile-container{
        flex: 1;
    }

    .message-section {
        margin-bottom: 10rem;
    }

    .message-container {
        flex-direction: column;
        height: 35rem;
    }

    .form-content {
        padding: 0;
    }

    .formValue-content{
        margin-top: 3rem;
        width: 100%;
    }
    
}